:root
{
    --c-darkgray: #111111;
}


body
{
    margin: 0;
    width: 100vw;
    color: white;
    background-color: var(--c-darkgray);
}


main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}


a
{
    text-decoration: none;
    color: inherit;
    transition: filter 0.2s ease;
}


a:hover
{
    filter: brightness(75%);
}


a:visited
{
    color: inherit;
}


h1
{
    text-align: center;
}
