.headerContainer
{
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
}


.navBarContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


.titleContainer
{
    font-size: large;
    font-weight: bold;
}


.linksContainer
{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: medium;
}
